        .text3 {
            position: absolute;
            /* left: 39.36%; */
            right: 36.04%;
            top: -55.57%;
            bottom: 51.86%;
            font-style: normal;
            font-weight: 900;
            font-size: 19px;
            line-height: 68px;
            color: #FFFFFF;
        }

        .text4 {
            position: absolute;
            left: 3.47%;
            /* right: 40.92%; */
            top: -1%;
            bottom: 67%;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
            color: #23221F;
            opacity: 0.7;
        }

        .text5 {
            position: absolute;
            left: 3.47%;
            /* right: 40.92%; */
            top: 18%;
            bottom: 67%;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
            color: #23221F;
            opacity: 0.8;
        }

        .text6 {
            width: 703px;
            height: 36px;
            /* 24 bold */
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 36px;
            /* identical to box height, or 150% */
            /* Text */
            color: #23221F;
            opacity: 0.8;
            /* Inside auto layout */
            flex: none;
            order: 1;
            flex-grow: 0;
        }

        .text7 {
            position: absolute;
            left: 37.23%;
            right: 38.23%;
            top: -19.18%;
            bottom: -6.06%;
            font-family: 'iCiel Koni';
            font-style: normal;
            font-weight: 900;
            font-size: 23px;
            line-height: 33px;
            color: #FFFFFF;
        }

        .text8 {
            position: absolute;
            width: 315px;
            height: 111px;
            left: 358px;
            top: 140px;
            font-family: 'iCiel Koni';
            font-style: normal;
            font-weight: 900;
            font-size: 68px;
            line-height: 100px;
            color: #FFFFFF;
        }

        .text9 {
            position: absolute;
            width: 197px;
            height: 100px;
            left: 360px;
            top: 213px;
            font-family: 'Impact Charcoal';
            font-style: normal;
            font-weight: 900;
            font-size: 68px;
            line-height: 100px;
            color: #FFFFFF;
        }

        .text10 {
            position: absolute;
            /* left: 32.72%; */
            right: 39.72%;
            top: -40.51%;
            bottom: 102.1%;
            font-family: 'iCiel Koni';
            font-style: normal;
            font-weight: 900;
            font-size: 87px;
            line-height: 101px;
            color: #FFFFFF;
        }

        .text11 {
            position: absolute;
            top: 116.17%;
            bottom: 4.17%;
            width: 189px;
            height: 3px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 30px;
            line-height: 37px;
            display: flex;
            align-items: center;
            color: #23221F;
            flex: none;
            order: 0;
            flex-grow: 0;
        }

        .text12 {
            position: absolute;
            top: 69px;
            width: 129px;
            height: 26px;
            /* 18 medium */
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 26px;
            /* identical to box height, or 144% */
            display: flex;
            align-items: center;
            color: #6C7272;
            /* Inside auto layout */
            flex: none;
            order: 1;
            flex-grow: 0;
        }

        .text13 {
            position: absolute;
            top: -195px;
            width: 206px;
            height: 16px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 16px;
            display: flex;
            align-items: center;
            color: #444444;
            flex: none;
            order: 1;
            flex-grow: 0;
        }

        .text14 {
            position: absolute;
            top: 141px;
            width: 191px;
            height: 1px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 27px;
            line-height: 48px;
            display: flex;
            align-items: center;
            letter-spacing: 0.005em;
            color: #FA7D09;
            flex: none;
            order: 1;
            flex-grow: 0;
        }

        .grouptext {
            position: absolute;
            top: 296px;
            padding: 15px;
        }

        .grouptext1 {
            position: absolute;
            top: 296px;
            padding: 24px;
        }

        .textbutton {
            display: block;
            color: white;
            text-decoration: none;
        }

        .grouptext2 {
            position: absolute;
            top: 296px;
            padding: 24px;
        }

        .text15 {
            position: absolute;
            top: -19px;
            width: 206px;
            height: 16px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 16px;
            display: flex;
            align-items: center;
            color: #444444;
            flex: none;
            order: 1;
            flex-grow: 0;
        }

        .text16 {
            position: absolute;
            top: 308px;
            width: 129px;
            height: 26px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 26px;
            display: flex;
            align-items: center;
            color: #6C7272;
            flex: none;
            order: 1;
            flex-grow: 0;
        }

        .text17 {
            position: absolute;
            top: 355px;
            width: 191px;
            height: 1px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 27px;
            line-height: 48px;
            display: flex;
            align-items: center;
            letter-spacing: 0.005em;
            color: #FA7D09;
            flex: none;
            order: 1;
            flex-grow: 0;
        }

        .text18 {
            position: absolute;
            left: 6.47%;
            right: 40.92%;
            top: 0.89%;
            bottom: 80.83%;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
            color: #23221F;
            opacity: 0.8;
        }

        .input6 {
            position: absolute;
            width: 195px;
            height: 34px;
            left: 238px;
            top: 127px;
            background: #FFFFFF;
            box-shadow: inset -1px 3px 3px rgb(179 91 11 / 50%);
            border-radius: 10px;
            flex: none;
            order: 0;
            flex-grow: 0;
            border: 0px;
        }

        .input7 {
            position: absolute;
            width: 326px;
            height: 34px;
            left: 494px;
            top: 127px;
            background: #FFFFFF;
            box-shadow: inset -1px 3px 3px rgb(179 91 11 / 50%);
            border-radius: 10px;
            flex: none;
            order: 0;
            flex-grow: 0;
            border: 0px;
        }

        .input8 {
            position: absolute;
            width: 195px;
            height: 34px;
            left: 238px;
            top: 189px;
            background: #FFFFFF;
            box-shadow: inset -1px 3px 3px rgb(179 91 11 / 50%);
            border-radius: 10px;
            flex: none;
            order: 0;
            flex-grow: 0;
            border: 0px;
        }

        .input9 {
            position: absolute;
            width: 326px;
            height: 34px;
            left: 494px;
            top: 189px;
            background: #FFFFFF;
            box-shadow: inset -1px 3px 3px rgb(179 91 11 / 50%);
            border-radius: 10px;
            flex: none;
            order: 0;
            flex-grow: 0;
            border: 0px;
        }

        .input10 {
            position: absolute;
            width: 585px;
            height: 118px;
            left: 235px;
            top: 253px;
            background: #FFFFFF;
            box-shadow: inset -1px 3px 3px rgb(179 91 11 / 50%);
            border-radius: 10px;
            flex: none;
            order: 0;
            flex-grow: 0;
            border: 0px;
        }

        .text19 {
            position: absolute;
            left: 26.23%;
            width: 114px;
            right: 17.23%;
            top: -19.18%;
            bottom: -6.06%;
            font-family: 'iCiel Koni';
            font-style: normal;
            font-weight: 900;
            font-size: 23px;
            line-height: 33px;
            color: #FFFFFF;
        }

        .textaddress {
            position: absolute;
            width: 271px;
            height: 115px;
            left: 1232px;
            top: 16px;
        }

        .textemail {
            position: absolute;
            width: 271px;
            height: 115px;
            left: 1232px;
            top: 193px;
        }

        .textphone {
            position: absolute;
            width: 271px;
            height: 115px;
            left: 1232px;
            top: 368px;
        }

        .text20 {
            position: absolute;
            width: 524px;
            height: 100px;
            left: 471px;
            top: -275px;
            font-family: 'iCiel Koni';
            font-weight: 900;
            font-size: 96px;
            line-height: 100px;
            color: #FFFFFF;
        }

        .text21 {
            position: absolute;
            height: 100px;
            /* left: 39.36%; */
            right: 65.04%;
            top: -7.57%;
            bottom: 51.86%;
            font-style: normal;
            font-weight: 900;
            font-size: 19px;
            line-height: 68px;
            color: #FFFFFF;
        }

        .text22 {
            position: absolute;
            /* left: 39.36%; */
            right: 14.04%;
            top: -58.57%;
            bottom: 51.86%;
            font-style: normal;
            font-weight: 900;
            font-size: 19px;
            line-height: 68px;
            color: #FFFFFF;
        }

        .text23 {
            position: absolute;
            left: 12.23%;
            right: 18.23%;
            top: -19.18%;
            bottom: -6.06%;
            font-family: 'iCiel Koni';
            font-style: normal;
            font-weight: 900;
            font-size: 23px;
            line-height: 33px;
            color: #FFFFFF;
        }

        .textpayment1 {
            position: absolute;
            left: 14.23%;
            right: 18.23%;
            top: 8.82%;
            bottom: -6.06%;
            width: 194px;
            height: 30px;
            font-family: 'Montserrat';
            font-weight: 700;
            font-size: 20px;
            line-height: 30px;
            color: #23221F;
        }

        .textpayment2 {
            position: absolute;
            left: 40.23%;
            right: 18.23%;
            top: 8.82%;
            bottom: -6.06%;
            width: 194px;
            height: 30px;
            font-family: 'Montserrat';
            font-weight: 700;
            font-size: 20px;
            line-height: 30px;
            color: #23221F;
        }

        .textpayment3 {
            position: absolute;
            left: 61.23%;
            right: 18.23%;
            top: 8.82%;
            bottom: -6.06%;
            width: 194px;
            height: 30px;
            font-family: 'Montserrat';
            font-weight: 700;
            font-size: 20px;
            line-height: 30px;
            color: #23221F;
        }

        .textpayment4 {
            position: absolute;
            left: 14.23%;
            right: 18.23%;
            top: 27.82%;
            bottom: -6.06%;
            width: 194px;
            height: 30px;
            font-family: 'Montserrat';
            font-weight: 700;
            font-size: 20px;
            line-height: 30px;
            color: #23221F;
        }

        .textpayment5 {
            position: absolute;
            left: 14.23%;
            right: 18.23%;
            top: 45.82%;
            bottom: -6.06%;
            width: 194px;
            height: 30px;
            font-family: 'Montserrat';
            font-weight: 700;
            font-size: 20px;
            line-height: 30px;
            color: #23221F;
        }

        .textpayment6 {
            position: absolute;
            left: 14.23%;
            right: 18.23%;
            top: 62.82%;
            bottom: -6.06%;
            width: 194px;
            height: 30px;
            font-family: 'Montserrat';
            font-weight: 700;
            font-size: 20px;
            line-height: 30px;
            color: #23221F;
        }

        .inputpayment1 {
            position: absolute;
            left: 14.23%;
            right: 18.23%;
            top: 21.82%;
            bottom: -6.06%;
            width: 162px;
            height: 30px;
            background: #FFFFFF;
            box-shadow: inset -1px 3px 3px rgb(179 91 11 / 50%);
            border-radius: 10px;
            flex: none;
            order: 1;
            flex-grow: 0;
            border: 0px;
        }

        .inputpayment2 {
            position: absolute;
            left: 39.23%;
            right: 14.23%;
            top: 21.82%;
            bottom: -6.06%;
            width: 63px;
            height: 30px;
            background: #FFFFFF;
            box-shadow: inset -1px 3px 3px rgb(179 91 11 / 50%);
            border-radius: 10px;
            flex: none;
            order: 1;
            flex-grow: 0;
            border: 0px;
        }

        .inputpayment3 {
            position: absolute;
            left: 60.23%;
            right: 18.23%;
            top: 21.82%;
            bottom: -6.06%;
            width: 142px;
            height: 30px;
            background: #FFFFFF;
            box-shadow: inset -1px 3px 3px rgb(179 91 11 / 50%);
            border-radius: 10px;
            flex: none;
            order: 1;
            flex-grow: 0;
            border: 0px;
        }

        .inputpayment4 {
            position: absolute;
            left: 14.23%;
            right: 18.23%;
            top: 39.82%;
            bottom: -6.06%;
            width: 250px;
            height: 30px;
            background: #FFFFFF;
            box-shadow: inset -1px 3px 3px rgb(179 91 11 / 50%);
            border-radius: 10px;
            flex: none;
            order: 1;
            flex-grow: 0;
            border: 0px;
        }

        .inputpayment5 {
            position: absolute;
            left: 14.23%;
            right: 18.23%;
            top: 58.82%;
            bottom: -6.06%;
            width: 162px;
            height: 30px;
            background: #FFFFFF;
            box-shadow: inset -1px 3px 3px rgb(179 91 11 / 50%);
            border-radius: 10px;
            flex: none;
            order: 1;
            flex-grow: 0;
            border: 0px;
        }

        .inputpayment6 {
            position: absolute;
            left: 14.23%;
            right: 18.23%;
            top: 74.82%;
            bottom: -6.06%;
            width: 250px;
            height: 30px;
            background: #FFFFFF;
            box-shadow: inset -1px 3px 3px rgb(179 91 11 / 50%);
            border-radius: 10px;
            flex: none;
            order: 1;
            flex-grow: 0;
            border: 0px;
        }

        .textpayment7 {
            position: absolute;
            left: 6.23%;
            right: 18.23%;
            top: 3.82%;
            bottom: -6.06%;
            width: 194px;
            height: 30px;
            font-family: 'Montserrat';
            font-weight: 700;
            font-size: 20px;
            line-height: 30px;
            color: #23221F;
        }

        .textpayment8 {
            position: absolute;
            left: 6.23%;
            right: 18.23%;
            top: 21.82%;
            bottom: -6.06%;
            width: 194px;
            height: 30px;
            font-family: 'Montserrat';
            font-weight: 700;
            font-size: 20px;
            line-height: 30px;
            color: #23221F;
        }

        .textpayment9 {
            position: absolute;
            left: 6.23%;
            right: 18.23%;
            top: 38.82%;
            bottom: -6.06%;
            width: 194px;
            height: 30px;
            font-family: 'Montserrat';
            font-weight: 700;
            font-size: 20px;
            line-height: 30px;
            color: #23221F;
        }

        .textpayment10 {
            position: absolute;
            left: 6.23%;
            right: 18.23%;
            top: 55.82%;
            bottom: -6.06%;
            width: 194px;
            height: 30px;
            font-family: 'Montserrat';
            font-weight: 700;
            font-size: 20px;
            line-height: 30px;
            color: #23221F;
        }

        .inputpayment7 {
            position: absolute;
            left: 5.23%;
            right: 18.23%;
            top: 14.82%;
            bottom: -6.06%;
            width: 353px;
            height: 43px;
            background: #FFFFFF;
            box-shadow: inset -1px 3px 3px rgb(179 91 11 / 50%);
            border-radius: 10px;
            flex: none;
            order: 1;
            flex-grow: 0;
            border: 0px;
        }

        .inputpayment8 {
            position: absolute;
            left: 5.23%;
            right: 18.23%;
            top: 32.82%;
            bottom: -6.06%;
            width: 353px;
            height: 43px;
            background: #FFFFFF;
            box-shadow: inset -1px 3px 3px rgb(179 91 11 / 50%);
            border-radius: 10px;
            flex: none;
            order: 1;
            flex-grow: 0;
            border: 0px;
        }

        .inputpayment9 {
            position: absolute;
            left: 5.23%;
            right: 18.23%;
            top: 49.82%;
            bottom: -6.06%;
            width: 265px;
            height: 43px;
            background: #FFFFFF;
            box-shadow: inset -1px 3px 3px rgb(179 91 11 / 50%);
            border-radius: 10px;
            flex: none;
            order: 1;
            flex-grow: 0;
            border: 0px;
        }

        .inputpayment10 {
            position: absolute;
            left: 5.23%;
            right: 18.23%;
            top: 66.82%;
            bottom: -6.06%;
            width: 353px;
            height: 43px;
            background: #FFFFFF;
            box-shadow: inset -1px 3px 3px rgb(179 91 11 / 50%);
            border-radius: 10px;
            flex: none;
            order: 1;
            flex-grow: 0;
            border: 0px;
        }

        .text24 {
            position: absolute;
            /* left: 32.72%; */
            right: 21.72%;
            top: -50.51%;
            bottom: 102.1%;
            font-family: 'iCiel Koni';
            font-style: normal;
            font-weight: 900;
            font-size: 87px;
            line-height: 101px;
            color: #FFFFFF;
        }

        .text25 {
            position: absolute;
            top: 284.17%;
            left: 21px;
            bottom: 4.17%;
            width: 189px;
            height: 3px;
            font-weight: 700;
            font-size: 30px;
            line-height: 37px;
            align-items: center;
            color: #23221F;
        }

        .text26 {
            position: absolute;
            top: 444.17%;
            left: 62px;
            bottom: 4.17%;
            width: 189px;
            height: 3px;
            font-weight: 700;
            font-size: 24px;
            line-height: 37px;
            align-items: center;
            color: #FFC226;
        }

        .text27 {
            position: absolute;
            top: 480.17%;
            left: 96px;
            bottom: 4.17%;
            width: 189px;
            height: 3px;
            font-weight: 700;
            font-size: 40px;
            line-height: 37px;
            align-items: center;
            color: #23221F;
        }

        .text28 {
            position: absolute;
            top: 664.17%;
            left: 11px;
            bottom: 4.17%;
            width: 223px;
            height: 0px;
            font-weight: 700;
            font-size: 20px;
            line-height: 37px;
            align-items: center;
            color: #23221F;
        }
